<!doctype html>
<html lang="en">
<head>
    <title>ANH NGỮ MAI LÂM</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content=" Ứng dụng tự học tiếng anh “Mailam English” do trung tâm ngoại ngữ Mai Lâm thiết kế và xây dựng, đáp ứng nhu cầu học tiếng Anh cho người mất căn bản theo hình thức học online qua Video dành cho tất cả học viên trong và ngoài nước.
    Học viên có thể chủ động về thời gian học, học ở bất kỳ đâu, bất kỳ lúc nào.
    Phương pháp dạy học khác biệt do chính Thầy Mai Lâm biên soạn và giảng dạy dành riêng cho người mất căn bản Tiếng Anh.">
    <!-- Font -->
    <link rel="dns-prefetch" href="//fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/bootstrap.min.css">
    <!-- Themify Icons -->
    <link rel="stylesheet" href="assets/themify-icons.css">
    <link rel="stylesheet" href="assets/owl.carousel.min.css">
    <!-- Main css -->
    <link href="assets/style.css" rel="stylesheet">
</head>

<body data-spy="scroll" data-target="#navbar" data-offset="30">
   

    <!-- Nav Menu -->

    <div class="nav-menu fixed-top">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <nav class="navbar navbar-dark navbar-expand-lg">
                        <a class="navbar-brand" href="#"><img src="upload/logo.png"  class="img-fluid" alt="logo"></a> <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
                        <div class="collapse navbar-collapse" id="navbar">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item"> <a class="nav-link active" href="#home">TRANG CHỦ <span class="sr-only">(current)</span></a> </li>
                                <li class="nav-item"> <a class="nav-link" href="#features">GIỚI THIỆU</a> </li>
                                <li class="nav-item"> <a class="nav-link" href="#video">VIDEO</a> </li>
                                <li class="nav-item"> <a class="nav-link" href="#artical">BÁO CHÍ</a> </li>
                                <li class="nav-item"> <a class="nav-link" href="#contact">TƯ VẤN</a> </li>
                                <li class="nav-item"><a href="#" id="link" class="btn btn-outline-light my-3 my-sm-0 ml-lg-3">Download</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>


    <header class="bg-gradient" id="home">
        <div class="container mt-5">
            <h1>APP MAI LAM ENGLISH</h1>
            <p class="tagline">“Mang cả TRƯỜNG HỌC” bên mình với APP học tiếng Anh cho người bận rộn </p>
        </div>
        <div class="img-holder mt-3"><img src="upload/banner.png" alt="phone" class="img-fluid"></div>
    </header>


    <div class="section light-bg" id="features">
        <div class="container">
            <div class="section-title">
                <h3>Ứng dụng Mailam English mang đến cho bạn</h3>
            </div>
            <div class="row">
                <div class="col-12 col-lg-4">
                    <div class="card features">
                        <div class="card-body">
                            <div class="media">
                                <span class="ti-face-smile gradient-fill ti-3x mr-3"></span>
                                <div class="media-body">
                                    <h4 class="card-title">KHOẢNG CÁCH ĐỊA LÝ</h4>
                                    <p class="card-text">BẠN GẶP KHÓ KHĂN VỀ MẶT ĐỊA LÝ KHÔNG CÓ CƠ HỘI ĐẾN CÁC THÀNH PHỐ LỚN VÀ TRUNG TÂM TIẾNG ANH ĐỂ HỌC </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="card features">
                        <div class="card-body">
                            <div class="media">
                                <span class="ti-settings gradient-fill ti-3x mr-3"></span>
                                <div class="media-body">
                                    <h4 class="card-title">BẬN RỘN CÔNG VIỆC</h4>
                                    <p class="card-text">BẠN QUÁ BẬN RỘN VỚI CÔNG VIỆC VÀ CHĂM SÓC GIA ĐÌNH KHÔNG CÓ THỜI GIAN CỐ ĐỊNH DÀNH CHO VIỆC HỌC </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="card features">
                        <div class="card-body">
                            <div class="media">
                                <span class="ti-lock gradient-fill ti-3x mr-3"></span>
                                <div class="media-body">
                                    <h4 class="card-title">KHÔNG CÓ THỜI GIAN</h4>
                                    <p class="card-text">BẠN MẤT GỐC, ĐÃ HỌC TIẾNG ANH Ở NHIỀU TRUNG TÂM NHƯNG VẪN KHÔNG TIẾNG TRIỂN, KHÔNG BIẾT NÊN BẮT ĐẦU LẠI NHƯ THẾ NÀO. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!--begin introduce-->
    <div class="section light-bg">
        <div class="container">
            <div class="section-title">
                <small>Trải nghiệm học Tiếng Anh chất lượng và mượt mà với</small>
                <h3>MAILAM ENGLISH</h3>
            </div>

            <ul class="nav nav-tabs nav-justified" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#communication">Giới thiệu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#schedule">Phần bài học</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#messages">Phần ôn tập</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#livechat">Phần luyện tập</a>
                </li>
            </ul>


            <div class="tab-content">
                <div class="tab-pane fade show active" id="communication">
                    <div class="d-flex flex-column flex-lg-row">
                        <img src="upload/gioithieu.png" alt="graphic" class="img-fluid rounded align-self-start mr-lg-5 mb-5 mb-lg-0">
                        <div>
                            <h2>Mailam English:</h2>
                            <p class="lead">Ngôn ngữ trong tầm tay</p>
                            <p>Ứng dụng Mailam English được vận hành trên cả 2 nền tảng IOS và Android.</p>
                            <p>Là chương trình ra đời để đáp ứng nhu cầu cho những học viên muốn học tiếng Anh nhưng không biết bắt đầu từ đâu và ra sao, ứng dụng xây dựng lộ trình và phương pháp học rõ ràng, khắc phục được tâm lý buồn chán khi không có “người mở đường”.</p>
                            <p>Ứng dụng còn thiết kế các tính năng nổi bật như: Từ vựng với hệ thống phiên âm quốc tế, ví dụ cụ thể cho từng từ mới. Hộp thoại được ghi âm theo cấu trúc ngữ pháp của từng bài vừa học. Cô đọng hệ thống Ngữ pháp nổi bất nhất của từng bài. Cuối mỗi bài chính là phần luyện tập giúp tổng kết kiến thức vừa học, và là điều bắt buộc phải hoàn thành nếu học viên muốn qua bài mới.</p>
                        </div>
                    </div>
                </div>


                <div class="tab-pane fade" id="schedule">
                    <div class="d-flex flex-column flex-lg-row">
                        <div>
                            <h2>Phần bài học</h2>
                            <p class="lead">Mới lạ, đơn giản, đột phá</p>
                            <p>Phương pháp giảng dạy mới lạ, dễ hiểu, dễ thực hành.</p>
                            <p>Video clip bài giảng do chính thầy Mai Lâm giảng dạy với phương pháp độc đáo và mới lạ dành riêng cho người mới bắt đầu, người mất gốc.</p>
                            <p>24 video clip từ kiến thức cơ bản đến tự xây dựng trên 1000 câu giao tiếp chỉ sau 8 buổi học.</p>
                        </div>
                        <img src="upload/baihoc.png" alt="graphic" class="img-fluid rounded align-self-start mr-lg-5 mb-5 mb-lg-0">
                    </div>
                </div>


                <div class="tab-pane fade" id="messages">
                    <div class="d-flex flex-column flex-lg-row">
                        <img src="upload/ontap.png" alt="graphic" class="img-fluid rounded align-self-start mr-lg-5 mb-5 mb-lg-0">
                        <div>
                            <h2>Phần ôn tập</h2>
                            <p class="lead">Học 10 nhớ 3 - Học 30 sẽ nhớ 9 </p>
                            <p>Tổng hợp, bổ trợ và vận dụng kiến thức vừa học.</p>
                            <p>Từ vựng: Giúp học viên ôn tập, phát âm và ví dụ ứng dụng gần với thực tế, “dễ học – dễ nhớ”</p>
                            <p>Ngữ pháp: Tổng hợp lại ngữ pháp vừa mới học.</p>
                            <p>Hội thoại: Nghe và học theo các câu mẫu, giúp vận dụng được từ vựng và ngữ pháp ngay lập tức.</p>
                        </div>
                    </div>
                </div>


                <div class="tab-pane fade" id="livechat">
                    <div class="d-flex flex-column flex-lg-row">
                        <div>
                            <h2>Phần luyện tập</h2>
                            <p class="lead">luyện tập, ghi nhớ, thông thạo, thành công</p>
                            <p>Sửa lỗi phát âm, ngữ pháp ngay khi làm luyện tập.</p>
                            <p>Sau mỗi một bài học, phần luyện tập sẽ giúp người học thống kê và tổng hợp lại các kiến thức vừa học, và phát hiện ra những lỗ hỏng mà người học còn chưa rõ về bài học vừa rồi.</p>
                        </div>
                        <img src="upload/luyentap.png" alt="graphic" class="img-fluid rounded align-self-start mr-lg-5 mb-5 mb-lg-0">
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--end introduce-->

<!--begin more inform-->
      <div class="section" id="video">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/F4-Kjv-p6vM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="col-md-6 d-flex align-items-center">
                    <div>
                        <h2>Xem thêm chi tiết</h2>
                        <p class="mb-4">
                            Ứng dụng tự học tiếng anh “Mailam English” được phát triển bởi Công ty Cổ phần Truyền thông và giáo dục Quốc tế Restart. Điểm nổi bật của ứng dụng chính là chương trình và phương pháp dạy học do chính Ths. Nguyễn Mai Lâm – CEO công ty và là người sáng lập ứng dụng trực tiếp giảng thể hiện qua hình thức Video dành cho tất cả học viên trong và ngoài nước<br><br>
                            Ứng dụng được thiết kế, xậy dựng và đáp ứng nhu cầu học Tiếng Anh cho người mới bắt đầu, người mất gốc muốn chinh phục tiếng Anh.<br><br>
                            Học viên có thể chủ động về thời gian học, học ở bất kỳ đâu, bất kỳ lúc nào. Từ ở trong bếp đến ngoài văn phòng.
                            <br>
                         </p>
                        <a href="#support" class="btn btn-primary">Read more</a></div>
                    </div>
                </div>
            </div>
        </div>
<!--end more inform-->

<!--begin support-->
    <div class="section light-bg" id="support">
        <div class="container">
            <div class="row">
                <div class="col-md-8 d-flex align-items-center">
                    <ul class="list-unstyled ui-steps">
                        <li class="media" id="1" onmouseover="change(this)">
                            <div class="circle-icon mr-4">1</div>
                            <div class="media-body">
                                <h5>Tạo tài khoản</h5>
                                <p>Đăng nhập bằng số điện thoại hoặc gmail, nhận mã code để đăng nhập app </p>
                            </div>
                        </li>
                        <li class="media my-4" id="2" onmouseover="change(this)">
                            <div class="circle-icon mr-4" >2</div>
                            <div class="media-body">
                                <h5>Trải nghiệm học trên app</h5>
                                <p>Trải nghiệm học thử 2 bài miễn phí trên app</p>
                            </div>
                        </li>
                        <li class="media"  id="3" onmouseover="change(this)">
                            <div class="circle-icon mr-4">3</div>
                            <div class="media-body">
                                <h5>Nâng cấp khóa học</h5>
                                <p>Liên hệ hotline: 0358.118.228 để nâng cấp gói tài khoản và học toàn bộ khóa nền tảng. </p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <img src="upload/login.png" alt="iphone" id="largeImg" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
<!--end support-->

<!--begin customer say-->
    <div class="section">
        <div class="container">
            <div class="section-title">
                <small>TESTIMONIALS</small>
                <h3>What our Customers Says</h3>
            </div>
            <div class="testimonials owl-carousel">
                <div class="testimonials-single">
                    <img src="upload/client.png" alt="client" class="client-img">
                    <blockquote class="blockquote">Uniquely streamline highly efficient scenarios and 24/7 initiatives. Conveniently embrace multifunctional ideas through proactive customer service. Distinctively conceptualize 2.0 intellectual capital via user-centric partnerships.</blockquote>
                    <h5 class="mt-4 mb-2">Crystal Gordon</h5>
                    <p class="text-primary">United States</p>
                </div>
                <div class="testimonials-single">
                    <img src="upload/client.png" alt="client" class="client-img">
                    <blockquote class="blockquote">Uniquely streamline highly efficient scenarios and 24/7 initiatives. Conveniently embrace multifunctional ideas through proactive customer service. Distinctively conceptualize 2.0 intellectual capital via user-centric partnerships.</blockquote>
                    <h5 class="mt-4 mb-2">Crystal Gordon</h5>
                    <p class="text-primary">United States</p>
                </div>
                <div class="testimonials-single">
                    <img src="upload/client.png" alt="client" class="client-img">
                    <blockquote class="blockquote">Uniquely streamline highly efficient scenarios and 24/7 initiatives. Conveniently embrace multifunctional ideas through proactive customer service. Distinctively conceptualize 2.0 intellectual capital via user-centric partnerships.</blockquote>
                    <h5 class="mt-4 mb-2">Crystal Gordon</h5>
                    <p class="text-primary">United States</p>
                </div>
            </div>
        </div>
    </div>
<!--end customer say-->


<!--begin article-->
    <div class="section light-bg" id="artical">
        <div class="container">
            <div class="section-title">
                <small>báo chí</small>
                <h3>Góc báo chí</h3>
            </div>
            <div class="img-gallery owl-carousel owl-theme" >
                <a target="_blank" href="https://zingnews.vn/video-nguoi-phu-nu-dung-do-voi-ca-map-khi-dang-choi-truot-nuoc-post1118724.html"><img src="upload/screen1.jpg" alt="image"></a> 
                <a target="_blank" href=""><img src="upload/screen2.jpg" alt="image"></a>
                <a target="_blank" href=""> <img src="upload/screen3.jpg" alt="image"></a>
                <a target="_blank" href=""> <img src="upload/screen1.jpg" alt="image"></a>
            </div>
        </div>
    </div>
<!--end article-->


<!--begin question-->
    <div class="section pt-0">
        <div class="container">
            <div class="section-title">
                <small>FAQ</small>
                <h3>Các câu hỏi thường gặp</h3>
            </div>

            <div class="row pt-4">
                <div class="col-md-6">
                    <h4 class="mb-3">Thầy Mai Lâm là ai?</h4>
                    <p class="light-font mb-5">Thầy Mai Lâm “Crazy” được nhiều bạn trẻ biết đến bởi chương trình và phương pháp đào tạo
                        Tiếng Anh độc đáo, hài hước, lôi cuốn nhưng luôn mang đến những hiểu quả không ngờ. Báo Thanh Niên, 
                        Tuổi Trẻ, HTV9, VTC10… đã thực hiện rất nhiều phóng sự về thành công của Thầy trong việc Lấy Lại Căn Bản 
                        Tiếng Anh cho người “mất gốc”, “Tiếng Anh làm lại từ đầu”. Bên cạnh đó thì các hoạt động của Thầy luôn tạo ra
                        sức lan tỏa mạnh mẽ như: TNV Quốc Tế dạy Tiếng Anh miễn phí; Thiện nguyện từ Việt Nam đến Đông Nam Á và Châu Phi.</p>

                    <h4 class="mb-3">Tại sao tôi phải mua app MaiLam English?</h4>
                    <p class="light-font mb-5">Phương pháp giảng dạy độc đáo mới lạ do chính thầy Mai Lâm biên soạn và giảng dạy,
                        giúp học viên xây dựng lại căn bản tiếng anh từ nền tảng của bảng phiên âm quốc tế đến ứng dụng 12 thì
                        vào giao tiếp. Từ vựng, ngữ pháp, hộp thoại phong phú, dễ hiểu ứng dụng được ngay vào thực tế.</p>
                </div>
                <div class="col-md-6">
                    <h4 class="mb-3">Tôi có thể sử dụng app trên bao nhiêu thiết bị.</h4>
                    <p class="light-font mb-5">App được hỗ trợ và sử dụng tốt nhất trên điện loại và máy tính
                        bảng sự dụng hệ điều hành Android hoặc IOS.
                        Bạn chỉ cần đăng nhập lại vào đúng tài khoản mình đã đăng ký là được nhé.</p>

                        <h4 class="mb-3">App có thể sử dụng trong bao lâu?</h4>
                        <p class="light-font mb-5">App hiện tại đang được hỗ trợ sử dụng trong vòng 1 năm để
                             tránh tình trạng học viên kéo dài thời gian học, học được mấy bài đầu tiên thì lại kéo tới
                             mấy tháng sau mới học tiếp khiến cho việc học trở nên không hiệu quả.</p>
    

                    <h4 class="mb-3">Tôi không biết gì về tiếng Anh hết có học được không?</h4>
                    <p class="light-font mb-5">App xây dựng dành riêng cho người mất gốc tiếng Anh và muốn lấy lại căn bản tiếng anh.</p>
                </div>
            </div>
        </div>
    </div>
<!--end question-->


<!--begin contact-->
    <div class="section bg-gradient" id="contact">
        <div class="container">
            <div class="call-to-action">        
                <div class="contact-from" >
                    <div class="container-contact100">
                        <div class="wrap-contact100">
                            <form method="POST" class="contact100-form validate-form">
                                <span class="contact100-form-title">
                                    Đăng ký nhận tư vấn
                                </span>

                                <div class="wrap-input100 validate-input" data-validate="không được để trống">
                                    <span class="label-input100">Họ và tên</span>
                                    <input class="input100" type="text" id="name" name="name" >
                                    <span class="focus-input100"></span>
                                </div>

                                <div class="wrap-input100 validate-input" >
                                    <span class="label-input100">Email</span>
                                    <input class="input100" type="text" id="email" name="email">
                                    <span class="focus-input100"></span>
                                </div>

                                <div class="wrap-input100 validate-input" data-validate = "không được để trống">
                                    <span class="label-input100">Điện thoại</span>
                                    <input class="input100" type="text" id="phoneNumber" name="phoneNumber" >
                                    <span class="focus-input100"></span>
                                </div>

                            
                                <div class="wrap-input100 validate-input" data-validate = "không được để trống">
                                    <span class="label-input100">Thông tin thêm</span>
                                    <textarea class="input100" name="message" id="message" ></textarea>
                                    <span class="focus-input100"></span>
                                </div>

                                <div class="container-contact100-form-btn">
                                    <div class="wrap-contact100-form-btn">
                                        <div class="contact100-form-bgbtn"></div>
                                        <button class="contact100-form-btn">
                                            <span>
                                                <input id="submit"  type="submit" onclick="check" style="background: none; color: #fff;" value="Gửi thông tin"></input>
                                                <i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
    </div>
<!--end contact-->

<!--begin footer-->
    <div class="light-bg py-5" >
        <div class="container">
            <div class="row">
                <div class="col-lg-6 text-center text-lg-left">
                    <p class="mb-2"> <span class="ti-location-pin mr-2"></span> - Chi nhánh 1: MAI LÂM QUẬN 3 - 146 Võ Thị Sáu, Phường 8, Quận 3, TP.HCM</p>
                    <p class="mb-2"> <span class="ti-location-pin mr-2"></span> - Chi nhánh 2: MAI LÂM THỦ ĐỨC - Nhà Văn Hoá Sinh Viên, Làng Đại Học Quốc Gia, Q. Thủ Đức, TP.HCM</p>
                    <p class="mb-2"> <span class="ti-location-pin mr-2"></span> - Chi nhánh 3: MAI LÂM CẦN GIỜ - 24 Lương Văn Nho, TT Cần Thạnh, H. Cần Giờ, TP.HCM </p>
                    <p class="mb-2"> <span class="ti-location-pin mr-2"></span> - Chi nhánh 4: MAI LÂM TÂN PHÚ - 26/30 Tân Sơn Nhì, P. Tân Sơn Nhì, Q. Tân Phú, TPHCM </p>
                    <div class=" d-block d-sm-inline-block">
                        <p class="mb-2"><span class="ti-email mr-2"></span> <a class="mr-4" href="mailto:Ngoaingumailam@gmail.com">Ngoaingumailam@gmail.com</a></p>
                    </div>

                    <div class="d-block d-sm-inline-block">
                        <p class="mb-0"><span class="ti-headphone-alt mr-2"></span><a href="tel:0358118228">518-3636-2800</a></p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="social-icons">
                        <a href="https://www.facebook.com/nguyenmailam.info" target="_blank"><span class="ti-facebook"></span></a>
                        <a href="https://www.youtube.com/channel/UCfQpTLoqIO1GZVtGJtH4UHQ"  target="_blank"><span class="ti-youtube"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--end footer-->

    <!-- jQuery and Bootstrap -->
    <script src="assets/jquery-3.2.1.min.js"></script>
    <script src="assets/bootstrap.bundle.min.js"></script>
    <!-- Plugins JS -->
    <script src="assets/owl.carousel.min.js"></script>
    <!-- Custom JS -->
    <script src="assets/script.js"></script>
    <!-- Load Facebook SDK for JavaScript -->
    <div id="fb-root"></div>
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          xfbml            : true,
          version          : 'v8.0'
        });
      };

      (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = 'https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js';
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <!-- Your Chat Plugin code -->
    <div class="fb-customerchat"
      attribution=setup_tool
      page_id="1522073098062302"
    logged_in_greeting="Trung tâm anh ngữ mai lâm có thể giúp gì được cho bạn ?"
    logged_out_greeting="Trung tâm anh ngữ mai lâm có thể giúp gì được cho bạn ?">
    </div>


</body>

</html>
