<!doctype html>
<html lang="en">

<head>
    <title>MobApp - App Landing Page Template</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Mobland - Mobile App Landing Page Template">
    <meta name="keywords" content="HTML5, bootstrap, mobile, app, landing, ios, android, responsive">

    <!-- Font -->
    <link rel="dns-prefetch" href="//fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/bootstrap.min.css">
    <!-- Themify Icons -->
    <link rel="stylesheet" href="assets/themify-icons.css">





<!--Start of Tawk.to Script-->
<script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/5f23c7984f3c7f1c910d8ec3/default';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
    </script>
    <!--End of Tawk.to Script-->




    <link rel="stylesheet" href="assets/owl.carousel.min.css">
    <!-- Main css -->
    <link href="assets/style.css" rel="stylesheet">
</head>

<body data-spy="scroll" data-target="#navbar" data-offset="30">

    <!-- Nav Menu -->

    <div class="nav-menu fixed-top">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <nav class="navbar navbar-dark navbar-expand-lg">
                        <a class="navbar-brand" href="#"><img src="upload/logo.png"  class="img-fluid" alt="logo"></a> <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
                        <div class="collapse navbar-collapse" id="navbar">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item"> <a class="nav-link active" href="#home">TRANG CHỦ <span class="sr-only">(current)</span></a> </li>
                                <li class="nav-item"> <a class="nav-link" href="#features">GIỚI THIỆU</a> </li>
                                <li class="nav-item"> <a class="nav-link" href="#gallery">ẢNH</a> </li>
                                <li class="nav-item"> <a class="nav-link" href="#contact">LIÊN HỆ</a> </li>
                                <li class="nav-item"><a href="#" class="btn btn-outline-light my-3 my-sm-0 ml-lg-3">Download</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>


    <header class="bg-gradient" id="home">
        <div class="container mt-5">
            <h1>APP MAI LAM CRAZY ENGLISH</h1>
            <p class="tagline">Ứng dụng tiếng anh đầu tiên dành cho người “Mất gốc”

                Học tiếng anh không lo đại dịch
                
                “Yêu tiếng anh lại từ đầu” chỉ với một chiếc điện thoại </p>
        </div>
        <div class="img-holder mt-3"><img src="upload/iphonex.png" alt="phone" class="img-fluid"></div>
    </header>


    <div class="section light-bg" id="features">
        <div class="container">

            <div class="section-title">
                <h3>Ứng dụng Mailam English mang đến cho bạn</h3>
            </div>


            <div class="row">
                <div class="col-12 col-lg-4">
                    <div class="card features">
                        <div class="card-body">
                            <div class="media">
                                <span class="ti-face-smile gradient-fill ti-3x mr-3"></span>
                                <div class="media-body">
                                    <h4 class="card-title">24 video clip</h4>
                                    <p class="card-text">Bài học được chính thầy Mai Lâm biên soạn với giáo trình riêng biệt dành cho các bạn mới bắt đầu học, từ nền tảng nhất với phiên âm quốc tế và ứng dụng được 12 thì vào giao tiếp. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="card features">
                        <div class="card-body">
                            <div class="media">
                                <span class="ti-settings gradient-fill ti-3x mr-3"></span>
                                <div class="media-body">
                                    <h4 class="card-title">Từ vựng</h4>
                                    <p class="card-text">Phong phú và riêng biệt, kèm phiên âm, phát âm và ví dụ điển hình cho từng từ mới. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="card features">
                        <div class="card-body">
                            <div class="media">
                                <span class="ti-lock gradient-fill ti-3x mr-3"></span>
                                <div class="media-body">
                                    <h4 class="card-title">Luyện tập</h4>
                                    <p class="card-text">Tổng hợp kiến thức vừa học, sửa lỗi phát âm trực tiếp trên app. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>



    </div>
      <!-- // end .section -->

      <div class="section">

        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <iframe src="https://www.youtube.com/embed/tgbNymZ7vqY" width="100%" height="100%"  allow="autoplay; encrypted-media" allowfullscreen></iframe> 
                </div>
                <div class="col-md-6 d-flex align-items-center">
                    <div>
                   
                        <h2>TVC giới thiệu app</h2>
                        <p class="mb-4">
                            Ứng dụng tự học tiếng anh “Mailam English do trung tâm ngoại ngữ Mai Lâm thiết kế và xây dựng,
                         đáp ứng nhu cầu học tiếng Anh cho người mất căn bản theo hình thức học online qua Video dành cho tất cả học 
                        viên trong và ngoài nước. giúp học viên có thể chủ động về thời gian, địa điểm học…
                        Ứng dụng tự học tiếng anh “Mailam English do trung tâm ngoại ngữ Mai Lâm thiết kế và xây dựng, đáp ứng nhu cầu học tiếng Anh cho người mất căn bản theo hình thức học online qua Video dành cho tất cả học viên trong và ngoài nước.
                         giúp học viên có thể chủ động về thời gian, địa điểm học… </p>
                        <a href="#" class="btn btn-primary">Read more</a></div>
                </div>
            </div>

        </div>

    </div>
    <!-- // end .section -->

    <div class="section light-bg">
        <div class="container">
            <div class="section-title">
                <small>Trải nghiệm học Tiếng Anh chất lượng và mượt mà với</small>
                <h3>MAILAM ENGLISH</h3>
            </div>

            <ul class="nav nav-tabs nav-justified" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#communication">Giới thiệu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#schedule">Phần bài học</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#messages">Phần ôn tập</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#livechat">Phần luyện tập</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="communication">
                    <div class="d-flex flex-column flex-lg-row">
                        <img src="upload/graphic.png" alt="graphic" class="img-fluid rounded align-self-start mr-lg-5 mb-5 mb-lg-0">
                        <div>

                            <h2>Mailam English:</h2>
                            <p class="lead">Tích hợp toàn bộ nền tảng Tiếng Anh chỉ trong một Ứng dụng. </p>
                            <p>

                                Đăng nhập đơn giản chỉ với số điện thoại hoặc gmail.
                            </p>
                            <p>Ứng dụng bao gồm đầy đủ lộ trình học của khóa nền tảng với 24 bài học. Gồm các tíng năng từ bài học, phần ôn tập đến luyện tập ở cuối bài.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="schedule">
                    <div class="d-flex flex-column flex-lg-row">
                        <div>
                            <h2>Phần bài học</h2>
                            <p class="lead">Cần một caua slogan ở đây </p>
                            <p>Video clip bài giảng do chính thầy Mai Lâm giảng dạy với phương pháp độc đáo và mới lạ dành riêng cho người mới bắt đầu, người mất gốc.
                            </p>
                            <p> 24 video clip từ kiến thức cơ bản đến tự xây dựng trên 1000 câu giao tiếp chỉ sau 8 buổi học.
                            </p>
                        </div>
                        <img src="upload/graphic.png" alt="graphic" class="img-fluid rounded align-self-start mr-lg-5 mb-5 mb-lg-0">
                    </div>
                </div>
                <div class="tab-pane fade" id="messages">
                    <div class="d-flex flex-column flex-lg-row">
                        <img src="upload/graphic.png" alt="graphic" class="img-fluid rounded align-self-start mr-lg-5 mb-5 mb-lg-0">
                        <div>
                            <h2>Phần ôn tập</h2>
                            <p class="lead">cần một câu slogan ở đây </p>
                            <p>Từ vựng: Giúp học viên ôn tập, phát âm và ví dụ ứng dụng gần với thực tế, “dễ học – dễ nhớ”
                            </p>
                            <p>Ngữ pháp: Tổng hợp lại ngữ pháp vừa mới học.
                            </p>
                            <p>Hội thoại: Nghe và học theo các câu mẫu, giúp vận dụng được từ vựng và ngữ pháp ngay lập tức.</p>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="livechat">
                    <div class="d-flex flex-column flex-lg-row">
                        <div>
                            <h2>Phần luyện tập</h2>
                            <p class="lead">cần một câu slogan ở đây </p>
                            <p>Sau mỗi một bài học, phần luyện tập sẽ giúp người học thống kê và tổng hợp lại các kiến thức vừa học, và phát hiện ra những lỗ hỏng mà người học còn chưa rõ về bài học vừa rồi.
                            </p>
                            
                        </div>
                        <img src="upload/graphic.png" alt="graphic" class="img-fluid rounded align-self-start mr-lg-5 mb-5 mb-lg-0">
                    </div>
                </div>
            </div>


        </div>
    </div>
 


    <div class="section light-bg">

        <div class="container">
            <div class="row">
                <div class="col-md-8 d-flex align-items-center">
                    <ul class="list-unstyled ui-steps">
                        <li class="media">
                            <div class="circle-icon mr-4">1</div>
                            <div class="media-body">
                                <h5>Tạo tài khoản</h5>
                                <p>Đăng nhập bằng số điện thoại hoặc gmail, nhận mã code để đăng nhập app </p>
                            </div>
                        </li>
                        <li class="media my-4">
                            <div class="circle-icon mr-4">2</div>
                            <div class="media-body">
                                <h5>Trải nghiệm học trên app</h5>
                                <p>Trải nghiệm học thử 2 bài miễn phí trên app</p>
                            </div>
                        </li>
                        <li class="media">
                            <div class="circle-icon mr-4">3</div>
                            <div class="media-body">
                                <h5>Nâng cấp khóa học</h5>
                                <p>Liên hệ hotline: 0358.118.228 để nâng cấp gói tài khoản và học toàn bộ khóa nền tảng. </p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <img src="upload/iphonex.png" alt="iphone" class="img-fluid">
                </div>

            </div>

        </div>

    </div>
    <!-- // end .section -->


    <div class="section">
        <div class="container">
            <div class="section-title">
                <small>TESTIMONIALS</small>
                <h3>What our Customers Says</h3>
            </div>

            <div class="testimonials owl-carousel">
                <div class="testimonials-single">
                    <img src="upload/client.png" alt="client" class="client-img">
                    <blockquote class="blockquote">Uniquely streamline highly efficient scenarios and 24/7 initiatives. Conveniently embrace multifunctional ideas through proactive customer service. Distinctively conceptualize 2.0 intellectual capital via user-centric partnerships.</blockquote>
                    <h5 class="mt-4 mb-2">Crystal Gordon</h5>
                    <p class="text-primary">United States</p>
                </div>
                <div class="testimonials-single">
                    <img src="upload/client.png" alt="client" class="client-img">
                    <blockquote class="blockquote">Uniquely streamline highly efficient scenarios and 24/7 initiatives. Conveniently embrace multifunctional ideas through proactive customer service. Distinctively conceptualize 2.0 intellectual capital via user-centric partnerships.</blockquote>
                    <h5 class="mt-4 mb-2">Crystal Gordon</h5>
                    <p class="text-primary">United States</p>
                </div>
                <div class="testimonials-single">
                    <img src="upload/client.png" alt="client" class="client-img">
                    <blockquote class="blockquote">Uniquely streamline highly efficient scenarios and 24/7 initiatives. Conveniently embrace multifunctional ideas through proactive customer service. Distinctively conceptualize 2.0 intellectual capital via user-centric partnerships.</blockquote>
                    <h5 class="mt-4 mb-2">Crystal Gordon</h5>
                    <p class="text-primary">United States</p>
                </div>
            </div>

        </div>

    </div>
    <!-- // end .section -->


    <div class="section light-bg" id="gallery">
        <div class="container">
            <div class="section-title">
                <small>GALLERY</small>
                <h3>App Screenshots</h3>
            </div>

            <div class="img-gallery owl-carousel owl-theme">
                <img src="upload/screen1.jpg" alt="image">
                <img src="upload/screen2.jpg" alt="image">
                <img src="upload/screen3.jpg" alt="image">
                <img src="upload/screen1.jpg" alt="image">
            </div>

        </div>

    </div>

        </div>

    </div>
    <!-- // end .section -->


    <div class="section pt-0">
        <div class="container">
            <div class="section-title">
                <small>FAQ</small>
                <h3>Các câu hỏi thường gặp</h3>
            </div>

            <div class="row pt-4">
                <div class="col-md-6">
                    <h4 class="mb-3">Tôi mua app như thế nào?</h4>
                    <p class="light-font mb-5">Liên hệ hotline 0358.118.228 để nhận hướng dẫn nhé. </p>
                    <h4 class="mb-3">Tôi có thể sử dụng app trên bao nhiêu thiết bị.</h4>
                    <p class="light-font mb-5">Ứng dụng dùng tốt nhất trên điện thoại và ipad. </p>

                </div>
                <div class="col-md-6">
                    <h4 class="mb-3">App có thể sử dụng trong bao lâu?</h4>
                    <p class="light-font mb-5">App được sử dụng trong vòng 1 năm</p>
                    <h4 class="mb-3">Tôi không biết gì về tiếng Anh hết có học được không?</h4>
                    <p class="light-font mb-5">App xây dựng dành riêng cho người mất gốc tiếng Anh nhé.</p>

                </div>
            </div>
        </div>

    </div>
    <!-- // end .section -->



    <div class="section bg-gradient" id="contact">
        <div class="container">
            <div class="call-to-action">        
                <div class="contact-from" >
                    <div class="container-contact100">
                        <div class="wrap-contact100">
                            <form class="contact100-form validate-form">
                                <span class="contact100-form-title">
                                    Đăng ký nhận tư vấn
                                </span>

                                <div class="wrap-input100 validate-input" data-validate="không được để trống">
                                    <span class="label-input100">Họ và tên</span>
                                    <input class="input100" type="text" name="name" >
                                    <span class="focus-input100"></span>
                                </div>

                                <div class="wrap-input100 validate-input" >
                                    <span class="label-input100">Email</span>
                                    <input class="input100" type="text" name="email">
                                    <span class="focus-input100"></span>
                                </div>

                                <div class="wrap-input100 validate-input" data-validate = "không được để trống">
                                    <span class="label-input100">Điện thoại</span>
                                    <input class="input100" type="text" name="sdt" >
                                    <span class="focus-input100"></span>
                                </div>

                            
                                <div class="wrap-input100 validate-input" data-validate = "không được để trống">
                                    <span class="label-input100">Thông tin thêm</span>
                                    <textarea class="input100" name="message" ></textarea>
                                    <span class="focus-input100"></span>
                                </div>

                                <div class="container-contact100-form-btn">
                                    <div class="wrap-contact100-form-btn">
                                        <div class="contact100-form-bgbtn"></div>
                                        <button class="contact100-form-btn">
                                            <span>
                                                Gửi thông tin
                                                <i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
    </div>


</div>
    <!-- // end .section -->

    <div class="light-bg py-5" >
        <div class="container">
            <div class="row">
                <div class="col-lg-6 text-center text-lg-left">
                    <p class="mb-2"> <span class="ti-location-pin mr-2"></span> - Chi nhánh 1: MAI LÂM QUẬN 3 - 146 Võ Thị Sáu, Phường 8, Quận 3, TP.HCM</p>
                    <p class="mb-2"> <span class="ti-location-pin mr-2"></span> - Chi nhánh 2: MAI LÂM THỦ ĐỨC - Nhà Văn Hoá Sinh Viên, Làng Đại Học Quốc Gia, Q. Thủ Đức, TP.HCM</p>
                    <p class="mb-2"> <span class="ti-location-pin mr-2"></span> - Chi nhánh 3: MAI LÂM CẦN GIỜ - 24 Lương Văn Nho, TT Cần Thạnh, H. Cần Giờ, TP.HCM </p>
                    <p class="mb-2"> <span class="ti-location-pin mr-2"></span> - Chi nhánh 4: MAI LÂM TÂN PHÚ - 26/30 Tân Sơn Nhì, P. Tân Sơn Nhì, Q. Tân Phú, TPHCM </p>
                    <div class=" d-block d-sm-inline-block">
                        <p class="mb-2">
                            <span class="ti-email mr-2"></span> <a class="mr-4" href="mailto:Ngoaingumailam@gmail.com">Ngoaingumailam@gmail.com</a>
                        </p>
                    </div>
                    <div class="d-block d-sm-inline-block">
                        <p class="mb-0">
                            <span class="ti-headphone-alt mr-2"></span> <a href="tel:0358118228">518-3636-2800</a>
                        </p>
                    </div>

                </div>
                <div class="col-lg-6">
                    <div class="social-icons">
                        <a href="https://www.facebook.com/nguyenmailam.info" target="_blank"><span class="ti-facebook"></span></a>
                        <a href="#"><span class="ti-twitter-alt"></span></a>
                        <a href="#"><span class="ti-instagram"></span></a>
                    </div>
                </div>
            </div>

        </div>

    </div>

   
    
    <!-- jQuery and Bootstrap -->
    <script src="assets/jquery-3.2.1.min.js"></script>
    <script src="assets/bootstrap.bundle.min.js"></script>
    <!-- Plugins JS -->
    <script src="assets/owl.carousel.min.js"></script>
    <!-- Custom JS -->
    <script src="assets/script.js"></script>

</body>

</html>
